*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: #222;
  color: #fff;
  font-family: "Helvetica Neue", Verdana, Arial, sans-serif;
  font-size: 16pt;
  overflow: hidden;
}
html, body { height:100%; margin:0; padding:0; }

h1 {
  margin-bottom: 0;
  text-align: center;
}

h1 small {
  color: #888;
  font-size: 12pt;
}

h1 a:link,
h1 a:visited {
  color: #ccc;
  text-decoration: underline;
}

h1 a:hover {
  color: #2d92c4;
}

button {
  background: none;
  border: 0;
  border-radius: 4px;
  color: #fff;
  display: block;
  font-size: 12pt;
  height: 50px;
  line-height: 50px;
  padding: 0 10px;
  text-decoration: none;
  width: 100%;
}
.button-server1 {
  background: none;
}
.button-server2 {
  background: none;
}

button:active {
  box-shadow: 0 0 10px 0 rgba(0,0,0,.5) inset;
}
.score-1-btn {
  background: #125f6f;
  border-radius: 0px;
}
.score-2-btn {
background: #01c3e7;
}

.score-btn button {
  float: left;
  width: 50%;
}

.score-btn button:first-of-type {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.score-btn button:last-of-type {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

button:focus {
  outline: 0;
}

table {
  margin: 0 auto;
  max-width: 700px;
}

table tr td {
  width: 50%;
  height: 85px;
  text-align: center;
}

select {
  font-size: 20pt;
}

.winner {
  color: #0a0;
  font-size: 36px;
}

.loser {
  color: #a00;
  font-size: 36px;
}
.score {
  font-size: 84px;
  
}
.scorebtns {
  padding-top: 50px;
}

/* Bootstrap override */ 
/*.navbar-inverse {
  background-color: #01c3e7;
  border-bottom: 20px solid #125f6f;
}*/
.navbar {
  margin-bottom: 0px;
}
.navbar-inverse {
  border: 0px;
}
.navbar-brand {
  color: #fff !important;
}
/*.navbar-inverse .navbar-collapse {
  border-bottom: 10px solid #fff;
}*/

.leftTable {
  background-color: #01c3e7;
  color: #fff;
  text-align: left;
  border-right: 7px solid #fff;
  border-bottom: 15px solid #125f6f;
  height:80vh;
}
.leftTable p {
  font-size: 9em;
  
}
.leftTable footer {
  min-height: 50px;
}
.rightTable {
  background-color: #125f6f;
  color: #fff;
  border-bottom: 15px solid #01c3e7;
  border-left: 7px solid #fff;
  height:80vh;
}
.rightTable p {
  font-size: 9em;
  
}
.rightTable footer {
  min-height: 50px;
}
.text-center {
  text-align: center;
}

.leftTable footer {
  width: 40px;
}
.rightTable footer > button {
  width: 40px;
}

@media only screen and (max-width: 800px) {
.rightTable p {
  font-size: 6em;
  
}
.leftTable p {
  font-size: 6em;
}
.resetbutton {
  width: 12%;
}
}